:root{
  --main-color:#2196f3;
  --main-color-alt:#1787e0;
}
*{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Cairo', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left:15px ;
  padding-right:15px ;
}
.heading{
  margin: 0px auto 50px;
  text-align: center;
  width: fit-content;
  position: relative;
  z-index: -1; /*To make the calender in the front*/
}
.heading::after, .heading::before{
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--main-color);
}
.heading::before{
  left: 0;
  bottom: 0;
}
.heading::after{
  right: 0;
  top: 0;
}
@media (min-width:768px) {
  .container{
      width:750px;
  }    
}
@media (min-width:992px) {
  .container{
      width:970px;
  }
}
@media (min-width:1200px) {
  .container{
      width:1170px;
  }
}
.loginPage{
  background-image: url(./photos/pexels-oleksandr-p-1004584.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginPage::before{ /*Overlay*/
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:  rgb(0 0 0 / 20%);
  z-index: -1;
}
.loginPage .content{
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px 30px;
  backdrop-filter: blur(20px);
  position: relative; 
}
.loader{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid black;
  border-bottom-color:transparent ;
  border-right-color:transparent ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loaderMotion 1s linear infinite ;
}
.adminPage .loader{
  border: 3px solid var(--main-color);
  border-bottom-color:transparent ;
  border-right-color:transparent ;
}
.loginPage .content h2{
  color: white;
  text-align: center;
  font-size: 30px;
}
.loginPage .content form div{
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 13px;
  margin: 15px 0;
}
.loginPage .content form div input{
  background-color: transparent;
  border: none;
  color: white;
}
.loginPage .content form div .icon{
  color: white;
  margin-left: 8px;
}
.loginPage .content form div input:focus{
  outline: none;
}
.loginPage .content form div input::placeholder{
  color: white;
}
.loginPage .content form input[type="submit"]{
  width: 100%;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 13px;
  border: none;
  margin: 20px 0;
  position: relative;
}
.loginPage .notRegistered{
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -ms-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid #c40000;
  color: white;
  border-radius: 15px;
  max-width: 283px;
  padding: 10px 15px;
  margin-bottom: 30px;
  display: flex;
}
.loginPage .notRegistered .icon{
  font-size: 35px;
  margin-right: 15px;
  color: #c40000;
}
.loginPage .notRegistered div p{
  font-size: 15px;
  line-height: 1.4;
}
header{
  background-color: var(--main-color);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container a{
  color: white;
  padding: 10px;
  position: relative;
  transition: all 0.3s linear;
}
header .container a:hover{
  background-color: var(--main-color-alt);
}
header .container > a{
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}
header .container .listIcon{
  display: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width:767px){
  header .container .listIcon{
    display: block;
  }
  header .container nav{
    position: absolute;
    left: 50%;
    top: -1000%;
    transform: translate(-50%, 0);
    background-color:var(--main-color);
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: top 0.3s linear;    
  }
}
footer{
  background-color: var(--main-color);
  padding: 25px 0;
}
footer .container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width:676px){
  footer .container{
    flex-direction: column;
  }
  footer .container .social{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
  }
}
footer .container a{
  margin-right: 10px;
  color: white;
  transition: all 0.3s linear;
}
footer .container a:hover{
  opacity: 0.7;
}
.intro{
  background-image: url("./photos/hotel.jpg");
  background-size: cover;
  background-position: bottom;
  height: calc(100vh - 53px);
  display: flex;
  align-items: center;
}
.intro .container{
  text-align: center;
  color: white;
}
.intro .container h1{
  max-width: 300px;
  margin: 0 auto 15px;
  line-height: 1.1;
}
.intro .container p{
  font-size: 18px;
  font-weight: bold;
}
.searchBar{
  transform: translate(0,-50%);
}
.searchBar .container{
  padding: 0;
}
.searchBar .container form{
  background-color: var(--main-color);
  display: flex;
  padding: 4px;
  border-radius: 8px;
}
@media (max-width:991px){
  .searchBar .container form{
    flex-direction: column;
  }
}
.searchBar .container form > div{
  flex: 1;
  background-color: white;
  padding: 10px;
  margin-right: 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
@media (max-width:991px){
  .searchBar .container form > div{
    margin: 3px;
  }
}
.searchBar .container form > div:first-of-type{
  cursor:auto;
}
.searchBar .container form div .persons{
  width: 100%;
}
.searchBar .container form div .persons span{
  margin-right: 5px;
}
.searchBar .container form div .icon{
  margin:0 10px;
  color: var(--main-color-alt);
  font-size: 18px;
}
.searchBar .container form > button{
  padding: 10px ;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: all 0.2s linear;
}
.searchBar .container form > div:not(:last-of-type) button{
  flex: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
}
.searchBar .container form div button span{
  margin-right: 10px;
  font-size: 16px;
}
.searchBar .container form > button:hover{
  box-shadow: 0px 0px 2px 2px #333 inset;
}
@media (max-width:991px){
  .searchBar .container form > button{
    margin: 3px;
  }
}
.searchBar .container form input.place{
  border: none;
  border-bottom: 1px solid var(--main-color);
  padding: 3px;
  width: 70%;
}
.searchBar .container form input.place:focus{
  outline: none;
}
.ReserveBox, .calendarContainer{
  position: absolute;
  
  z-index: 100;
  background-color: white;
  padding: 15px;
  width:300px ;
  cursor: auto;
}
.ReserveBox{
  left: 0;
  top: 120%;
  width:300px ;
  border-radius: 15px;
  box-shadow: 0 2px 16px 0 rgba(26,26,26,0.24);
}
.calendarContainer{
  width: 80%;
  height: 100%;
  left: 35px;
  background-color: white;
  display: flex;
  align-items: center;
}
.calendarContainer input{
  flex: 1;
  width: 100px;
  margin-right: 5px;
  padding: 3px;
  border: 1px solid var(--main-color);
}
.calendarContainer input:focus{
  outline: none;
  box-shadow: 0 2px 16px 0 rgba(26,26,26,0.24);
}
.ReserveBox div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.ReserveBox div span{
  text-transform: capitalize;
}
.ReserveBox div div{
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 8px;
  width: 100px;
}
.ReserveBox div div button{
  background-color: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: var(--main-color);
}
.featuredDeals{
  padding: 50px 0;
  position: relative;
  z-index: -1; /*To make the calender in the front*/
}
.featuredDeals .container h2{
  margin-bottom: 30px;
}
.featuredDeals .container .deals{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 40px;
}
.deal{
  box-shadow: 0 0 15px rgb(0 0 0 / 22%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px ;
  position: relative;
}
.deal img{
  width: 100%;
  height: 220px;
  border-top-right-radius: 15px ;
  border-top-left-radius: 15px;
}
.deal .info{
  padding:0 15px 15px;
}
.deal .info h3{
  text-align: center;
}
.deal .info p:first-of-type{
  color: #6b5858;
  font-size: 14px;
  margin-bottom: 15px;
}
.deal .info p:last-of-type{
  font-size:14px ;
  min-height: 160px;
}
@media(max-width:991px){
  .deal .info p:last-of-type{
    min-height: 130px;
  }

}
.deal .info .star{
  font-size: 20px;
}
.deal .info .orginalPrice{
  text-decoration: line-through;
  text-decoration-color: black;
  left: 15px;
}
.deal .info .finalPrice{
  right: 15px;
}
.deal .info .orginalPrice,
.deal .info .finalPrice{
  position: absolute;
  background-color: var(--main-color);
  color: white;
  writing-mode: vertical-lr;
  top: 0;
  height: 70px;
  padding-top: 5px;
  font-weight: bold;
}
.deal .info .orginalPrice::after,
.deal .info .finalPrice::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border: 15px solid;
  border-color: transparent transparent white transparent;
}
.featuredDeals .rating{
  text-align: center;
}
.rating span{
  font-size: 25px;
}
.RecentlyVisited{
  padding: 50px 0;
}
.RecentlyVisited .hotels{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  gap: 25px;
}
@media (max-width:991px){
  .RecentlyVisited .hotels{
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  }
}
.RecentlyVisited .hotels .hotel{
  position: relative;
  overflow: hidden;
}
.RecentlyVisited .hotels .hotel .img img{
  width: 100%;
  height: 400px;
}
@media (max-width:991px){
  .RecentlyVisited .hotels .hotel .img img{
    height: 330px;
  }
}
.RecentlyVisited .hotels .hotel .info{
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  padding: 5px 15px;
  height: 55%;
  color: white;
  transition: all 0.5s linear;
}
.RecentlyVisited .hotels .hotel:hover .info{
  bottom: 0;
}
.RecentlyVisited .hotels .hotel .info h3{
  text-align: center;
}
.RecentlyVisited .hotels .hotel .info div{
  margin-bottom: 3px;
}
.RecentlyVisited .hotels .hotel .info .icon{
  margin-right:5px;
}
.RecentlyVisited .hotels .hotel .info span:first-of-type{
  font-weight: bold;
  font-size: 17px;
}
.RecentlyVisited .hotels .hotel .info >div span:last-of-type{
  margin-left: 7px;
}
.RecentlyVisited .hotels .hotel .info .rating{
  display: inline;
  margin-left: 7px;
}
.trendingDestinations{
  padding: 50px 0;
}
.trendingDestinations .hotels{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 25px;
}
.trendingDestinations .hotels .hotel{
  border-radius: 18px;
  overflow: hidden;
  position: relative;
}
.trendingDestinations .hotels .hotel:hover{
  border: 3px solid var(--main-color);
}
.trendingDestinations .hotels .hotel .img{
  height: 300px;
}
.trendingDestinations .hotels .hotel img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.3s linear;
}
.trendingDestinations .hotels .hotel:hover img{
  transform: scale(1.3);
}
.trendingDestinations .hotels .hotel h3{
  position: absolute;
  left: -100%;
  top: 10px;
  background-image: linear-gradient(to right, white 50%, var(--main-color-alt) 50% );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  transition: all 0.3s linear ;
}
.trendingDestinations .hotels .hotel:hover h3{
  left: 20px;
}
.searchResult{
  padding: 50px 0;
}
.searchResult .noHotelsFound{
  text-align: center;
}
.searchResult .noHotelsFound p{
  font-size: 15px;
  margin: 0 0 10px 0;
}
.searchResult .noHotelsFound span{
  display: block;
  font-size: 13.5px;
  color: #6b5858;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto 10px;
  background-color: var(--main-color);
  padding: 5px;
  border-radius: 15px;
  color: white;
  transition: all 0.3s linear;
  width: 150px;
  border: none;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--main-color-alt);
}
.searchResult .content{
  display: flex;
}
@media (max-width:767px){
  .searchResult .content{
    flex-direction: column;
  }
}
.searchResult .content .searchedHotels .hotel{
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  margin-bottom: 10px;
}
@media (max-width:991px){
  .searchResult .content .searchedHotels .hotel{
    flex-direction: column;
  }
}
.searchResult .content .searchedHotels .hotel img{
  width: 250px;
  height: 250px;
  border-radius: 15px;
}
@media (max-width:991px){
  .searchResult .content .searchedHotels .hotel img{
    width: 100%;
  }
}
.searchResult .content .searchedHotels .hotel .info{
  margin-left: 25px;
  flex: 1;
}
.searchResult .content .searchedHotels .hotel .info h3,
.filterBar h3{
  text-align: center;
  font-size: 24px;
  color: var(--main-color);
}
.searchResult .content .searchedHotels .hotel .info > p,
.searchResult .content .searchedHotels .hotel .info div ul li{
  font-size: 15px;
  color: #00000099;
}
.searchResult .content .searchedHotels .hotel .info > p{
  margin-bottom: 10px;
}
.searchResult .content .searchedHotels .hotel .info span:not(.star)
,.searchResult .content .searchedHotels .hotel .info div p{
  font-weight: bold;
  font-size: 16px;
  color: black;
}
.searchResult .content .searchedHotels .hotel .info div ul{
  list-style-type: disc;
  margin: 0 0 15px 40px;
}
.searchResult .content .searchedHotels .hotel .info div ul li span{
  font-weight: bold;
}
.searchResult .content .filterBar{
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 5px 10px;
  width: 240px;
  margin-right: 40px;
}
@media (max-width:767px){
  .searchResult .content .filterBar{
    margin: 0 auto 40px;
    max-width: 400px;
  }
}
.filterBar h3,
.priceFilter,
.starFilter{
  position: relative;
}
.filterBar h3::before,
.priceFilter::before,
.starFilter::before{
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0;
  width: calc(100% + 20px);
  height: 1px;
  background-image: linear-gradient(to right, #eee, var(--main-color-alt));
}
.filterBar .fiterBy > div{
  padding: 5px 0;

}
.filterBar .fiterBy > div h4{
  text-align: center;
  font-weight: 500;
}
.filterBar .fiterBy .priceBTN{
  width: 100px;
  border: none;
  cursor: pointer;
}
.priceFilter > div {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:767px){
  .priceFilter > div {
   width: 60%;
  }
}
.starFilter div{
  text-align: center;
  margin-top: -5px;
}
.starFilter div span{
  font-size: 25px;
  margin-right: 2px;
}
.roomFilter input{
  margin-right: 10px;
}
.hotelInfo{
  padding: 50px 0;
}
.hotelInfoContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
.hotelImage {
  flex: 0 1 300px;
}
.hotelImage img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.hotelDetails {
  flex: 1;
  padding: 20px;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 500px;
}
.hotelDetails h3.heading {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
.detailItem {
  margin-bottom: 10px;
  font-size: 16px;
}
.amenitiesList {
  list-style: none;
  padding: 0;
}
.amenitiesList li {
  background: #f9f9f9;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 5px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .hotelInfoContainer {
      flex-direction: column;
  }
  .hotelDetails {
      max-width: 100%;
  }
}
.reviews {
  padding: 50px 0;
}
.review-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.review-card {
  flex: 1;
  min-width: 300px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--main-color);
}
.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-header h4 {
  font-size: 18px;
  color: #1a202c;
}
.review-body p {
  font-size: 16px;
  color: #4a5568;
  margin-top: 10px;
}
.map{
  padding: 50px 0;
}
.hotelImages{
  padding: 50px 0;
}
.hotelImages .content{
  overflow-y:auto ;
  display: flex;
  border-radius: 10px;
  position: relative; 
}
.hotelImages .content::-webkit-scrollbar {
  width: 8px;
  padding: 20px;
}
.hotelImages .content::-webkit-scrollbar-thumb {
  background-color: darkgrey; 
  border-radius: 10px; 
  background-color: white;
}
.hotelImages .content::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
  background-color: var(--main-color-alt);
}
.hotelImages img{
  width: 100%;
  border-radius: 10px; 
}
.availableRooms{
  padding: 50px 0;
}
.availableRooms .content{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  gap: 30px;
}
@media (max-width:767px){
  .availableRooms .content{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }
}
.availableRooms .content .room{
  border: 1px solid var(--main-color);
  box-shadow: 0px 0px 2px 2px #333 inset;
  border-radius: 10px;
  display: flex;
  height: auto;
  position: relative;
}
@media (max-width:767px){
  .availableRooms .content .room{
    flex-direction: column;
  }
}
.availableRooms .content .room .photo{
  width:60%
}
@media (max-width:767px){
  .availableRooms .content .room .photo{
    width:100%
  }
}
.availableRooms .content .room .photo img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.availableRooms .content .room .roomInfo{
  padding: 10px 15px;
  background-color: #eee;
  color: var(--main-color-alt);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.availableRooms .content .room .roomInfo ul{
  position: relative;
}
.availableRooms .content .room .roomInfo ul::before,
.availableRooms .content .room .roomInfo ul::after{
  content: "";
  position: absolute;
  left: -15px;
  width: calc(100% + 30px);
  height: 1px;
  background-color: var(--main-color);
}
.availableRooms .content .room .roomInfo ul::before{
  top:0px;
}
.availableRooms .content .room .roomInfo ul::after{
  bottom: 0px;
}
.availableRooms .content .room .roomInfo p,
.availableRooms .content .room .roomInfo li{
  font-size: 18px;
  font-weight: bold;
}
.availableRooms .content .room .roomInfo span{
  font-size: initial;
  font-weight: initial;
}
.availableRooms .content .room .roomInfo p.price{
  position: absolute;
  right: 15px;
  top: 0px;
  writing-mode: vertical-lr;
  width: auto;
  height: 80px;
  color: white;
  background-color: var(--main-color-alt);
  padding-top: 5px;
}
@media (max-width:767px){
  .availableRooms .content .room .roomInfo p.price{
    bottom: 0;
    top: initial;
    padding-top:20px;
  }
}
.availableRooms .content .room .roomInfo p.price::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-width: 16px;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
}
@media (max-width:767px){
  .availableRooms .content .room .roomInfo p.price::before{
    bottom: initial;
    top: -1px;
    border-color: #eee transparent transparent transparent;
  }
}
.cart{
  padding: 50px 0;
}
.cart .emptyCart{
  text-align: center;
}
.cart .emptyCart h2{
  margin: 50px 0 20px;
}
.cart .emptyCart h2 span{
  font-weight: bold;
  color: var(--main-color);
}
.cart .emptyCart p{
  color: #6b5858;
  font-size: 14px;
  margin-bottom: 5px;
}
.cart .emptyCart p:last-of-type{
  margin-bottom: 30px;
}
.cart .fullCart .cartItems{
  border: 1px solid var(--main-color);
  border-radius: 15px;
}
.cart .fullCart .cartItem{
  background-color: #eee;
  padding: 15px;
  display: flex;
}
.cart .fullCart .cartItem:not(:first-of-type){
  margin-top: 15px;
}
.cart .fullCart .cartItem:first-of-type{
  border-top-left-radius:15px ;
  border-top-right-radius: 15px;
}
.cart .fullCart .cartItem:last-of-type{
  border-bottom-left-radius:15px ;
  border-bottom-right-radius: 15px;
}
.cart .fullCart .cartItem .info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  font-weight: bold;
}
.cart .fullCart .cartItem .info button{
  border: none;
  cursor: pointer;
}
.cart .fullCart .cartItem .info .icon{
  color: var(--main-color);
  font-size: 22px;
}
.cart .fullCart .cartItem img{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.cart .fullCart .cartSummary{
  text-align: center;
  margin-top: 50px;
}
.cart .fullCart .cartSummary p{
  margin-bottom: 15px;
}
.cart .fullCart .cartSummary span{
  font-weight: bold;
}
.checkout {
  padding: 50px 0;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.checkout .heading{
  z-index: 10; /*Cancel the original value (-1)*/
}
.user-information,
.payment-information {
  margin-bottom: 30px;
  text-align: center;
}
.user-information h3,
.payment-information h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}
.form-group {
  margin-bottom: 20px;
}
.checkout label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #555;
}
.checkout input[type="text"],
.checkout input[type="email"],
.checkout input[type="tel"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
.checkout input[type="text"]:focus,
.checkout input[type="email"]:focus,
.checkout input[type="tel"]:focus {
  outline: none;
  border-color: var(--main-color);
}
.checkout input[type="text"]::placeholder,
.checkout input[type="email"]::placeholder,
.checkout input[type="tel"]::placeholder {
  color: #999;
}
.checkout-button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.checkout-button:hover {
  background-color: var(--main-color-alt);
}
/*
Admin Site
*/
.adminPage{
  display: flex;
}
@media(max-width:767px){
  .adminPage{
    flex-direction: column;
  }
}
.adminPage .sideBar{
  width: 220px;
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 30px 5px 30px 30px;
  box-shadow: 0 2px 10px 0 var(--main-color);
  position: relative;
}
@media(max-width:767px){
  .adminPage .sideBar{
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}
.adminPage .sideBar h2{
  color: white;
  text-align: center;
  margin-bottom:30px ;
}
@media(max-width:767px){
  .adminPage .sideBar h2{
    margin-bottom: 0;
  }
}
.adminPage .sideBar .menu-icon{
  display: none;
  font-size: 22px;
  cursor: pointer;
}
@media(max-width:767px){
  .adminPage .sideBar .menu-icon{
    display: block;
  }
}
.adminPage .sideBar nav{
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: bottom 0.3s linear;
}
@media(max-width:767px){
  .adminPage .sideBar nav.show{
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: -175px;
    background-color: black;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .adminPage .sideBar nav.hide{
    position: absolute;
    bottom: 10000px;
  }
}
.adminPage .sideBar nav.show{
  position: absolute;
}
@media(max-width:767px){
  .adminPage .sideBar nav{
    flex-direction: row;
  }
}
.adminPage .sideBar nav a{
  color: white;
  transition: all 0.3s linear;
  position: relative;
  overflow: hidden;
}
@media(max-width:767px){
  .adminPage .sideBar nav.show a{
    width: 50%;
    margin: 0 auto;
  }
}
.adminPage .sideBar nav a:hover{
  background-color: #1b1b1b;
  color: var(--main-color);
}
.adminPage .sideBar nav a::before,
.adminPage .sideBar nav a::after{
    content: "";
    position: absolute;
    background-color: var(--main-color-alt);
    height: 2px;
    width: 100%;
    transition: left 0.3s linear, right 0.3s linear;
}
.adminPage .sideBar nav a::before{
    top: 0;
    left: -100%;
}
.adminPage .sideBar nav a::after{
    bottom: 0;
    right: -100%;
}
.adminPage .sideBar nav a:hover::before{
    left: 0;
}
.adminPage .sideBar nav a:hover::after{
    right: 0;
}
.adminPage .sideBar .btn{
  margin: 0;
  position: sticky;
  left: 0;
  top: 90vh;
}
@media(max-width:767px){
  .adminPage .sideBar .btn{
    position: static;
    width: 100px;
  }
}
.adminPage .mainContent{
  background-color: #1b1b1b;
  color: white;
  padding: 50px;
  flex: 1;
  position: relative;/*To manage the loader*/
}
.adminPage .mainContent .introduction{
  position: relative;
  z-index: 5;
}
.adminPage .mainContent .introduction .content{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.adminPage .mainContent .introduction .content .photo{
  width: 100%;
  height: 250px;
}
.adminPage .mainContent .introduction .content .photo img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.adminPage .mainContent .introduction .content div div{
  border-radius: 15px;
  margin-bottom: 25px;
}
.adminPage .mainContent .introduction .content div div h3{
  transition: color 0.3s linear;
}
.adminPage .mainContent .introduction .content div div:hover h3{
  color: var(--main-color);
}
.adminPage .mainContent .introduction .intro-container {
  padding: 20px;
  background-color: #333;
}
.adminPage .mainContent .introduction .intro-heading {
  color: #fff;
}
.adminPage .mainContent .introduction .intro-text {
  font-size: 16px;
  color: #ccc;
}
.adminPage .mainContent .introduction .intro-container-alt {
  padding: 20px;
  background-color: #444;
}
.adminPage .mainContent .introduction .intro-heading-alt {
  color: #eee;
}
.adminPage .mainContent .introduction .intro-text-alt {
  font-size: 16px;
  color: #ccc;
}
.cities .content,
.hotels .content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr,1fr));
  gap: 40px;
  margin-top: 40px;
}
@media (max-width:767px){
  .cities .content,
  .hotels .content{
    grid-template-columns: repeat(auto-fit, minmax(100%,1fr));
  }
}
.cities .heading,
.hotels .heading{
  z-index: 5;
}
.cities .content .city{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.cities .content .city,
.hotels .content .hotel{
  border-radius: 15px;
  border: 1px solid var(--main-color);
  padding: 20px;
}
@media (max-width:767px){
  .cities .content .city{
    align-items: center;
  }
}
.hotels .content .hotel{
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 10px;
  width: 100%;
}
@media (max-width:767px){
  .hotels .content .hotel{
    grid-template-columns: 1fr;
  }
}
.cities .content .city span,
.hotels .content .hotel span:first-of-type {
  font-size: 20px;
  font-weight: bold;
}
.cities .content .city p{
  max-width: 600px;
  font-size: 15px;
}
@media (max-width:767px){
  .cities .content .city p{
    max-height: 200px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.cities .content .city input,
.hotels .content .hotel input,
.addCity form input:not([type="submit"]),
.addCity form textarea,
.addHotel form input:not([type="submit"]),
.addHotel form textarea{
  border: none ;
  border-bottom: 1px solid var(--main-color);
  padding: 5px;
  width: 100%;
  background-color: transparent;
  color: var(--main-color);
}
.addHotel form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addHotel select{
  background-color: transparent;
  border: none;
  max-width: 300px;
  color: white;
  text-align: center;
  flex: 1;
}
.addHotel .main label{
  margin-right: 20px;
}
.adminPage select optgroup,
.adminPage select optgroup option{
  background-color: var(--main-color);
  color: white;
}
.cities .content .city input:focus,
.hotels .content .hotel input:focus,
.addCity form input:not([type="submit"]):focus,
.addCity form textarea{
  outline: none;
}
.cities .content .city div,
.hotels .content .hotel div{
  width: 115px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.hotels .content .hotel select{
  background-color: transparent;
  border: none;
  color: white;
}
.cities .content .city div .adminIcon,
.hotels .content .hotel div .adminIcon{
  font-size: 20px;
  cursor: pointer;
}
.cities .content .city div .adminIcon:hover,
.hotels .content .hotel div .adminIcon:hover{
  color: var(--main-color);
}
.cities .content .city div button,
.hotels .content .hotel div button{
  margin:0;
}
.cities .content .city div button:not(:first-of-type),
.hotels .content .hotel div button:not(:first-of-type){
  margin-left: 10px;
}
.addCity,
.addHotel{
  position: relative;
  z-index: 10;
}
.addCity form,
.addHotel form{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.addCity form input,
.addCity form textarea,
.addHotel form input,
.addHotel form textarea{
  width: 50% !important;
  padding: 15px !important;
  margin: 0 auto;
}
@media (max-width:767px){
  .addCity form input,
  .addCity form textarea,
  .addHotel form input,
  .addHotel form textarea{
    width: 90% !important;
  }
}
.hotels_roomsSection{
  color: white;
}
.roomSection .heading{
  z-index: 5;
}
.hotels_roomsSection .content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hotels_roomsSection .content .hotel{
  border: 1px solid var(--main-color);
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}
.hotels_roomsSection .content .hotel .details{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
}
.hotels_roomsSection .content .hotel .details span{
  padding: 5px;
}
.hotels_roomsSection .content .hotel .rooms{
  margin-top: 40px;
}
.hotels_roomsSection .content .hotel .room{
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 70px;
  gap: 10px;
  padding: 5px 0;
  border-top: 1px solid #eee;
}
.hotels_roomsSection .content .hotel .room span{
  padding: 5px;
}
.hotels_roomsSection .content .hotel .room .roomIcon{
  font-size: 20px;
  cursor: pointer;
}
.hotels_roomsSection .content .hotel .room .roomIcon:first-child{
  margin-right: 10px;
}
.hotels_roomsSection .content .hotel .room .roomIcon:hover{
  color: var(--main-color);
}
@keyframes loaderMotion {
  0%{
    transform:translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform:translate(-50%, -50%) rotate(360deg);
  }
}