:root{
  --main-color:#2196f3;
  --main-color-alt:#1787e0;
}
*{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Cairo', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left:15px ;
  padding-right:15px ;
}
.heading{
  margin: 40px auto;
  text-align: center;
  width: fit-content;
  position: relative;
}
.heading::after, .heading::before{
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--main-color);
}
.heading::before{
  left: 0;
  bottom: 0;
}
.heading::after{
  right: 0;
  top: 0;
}
@media (min-width:768px) {
  .container{
      width:750px;
  }    
}
@media (min-width:992px) {
  .container{
      width:970px;
  }
}
@media (min-width:1200px) {
  .container{
      width:1170px;
  }
}
.loginPage{
  background-image: url(./photos/pexels-oleksandr-p-1004584.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginPage::before{ /*Overlay*/
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:  rgb(0 0 0 / 20%);
  z-index: -1;
}
.loginPage .content{
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px 30px;
  backdrop-filter: blur(20px);
  position: relative; 
}
.loginPage .content .loader{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid black;
  border-bottom-color:transparent ;
  border-right-color:transparent ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loaderMotion 1s linear infinite ;
}
.loginPage .content h2{
  color: white;
  text-align: center;
  font-size: 30px;
}
.loginPage .content form div{
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 13px;
  margin: 15px 0;
}
.loginPage .content form div input{
  background-color: transparent;
  border: none;
  color: white;
}
.loginPage .content form div .icon{
  color: white;
  margin-left: 8px;
}
.loginPage .content form div input:focus{
  outline: none;
}
.loginPage .content form div input::placeholder{
  color: white;
}
.loginPage .content form input[type="submit"]{
  width: 100%;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 13px;
  border: none;
  margin: 20px 0;
  position: relative;
}
.loginPage .notRegistered{
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -ms-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid #c40000;
  color: white;
  border-radius: 15px;
  max-width: 283px;
  padding: 10px 15px;
  margin-bottom: 30px;
  display: flex;
}
.loginPage .notRegistered .icon{
  font-size: 35px;
  margin-right: 15px;
  color: #c40000;
}
.loginPage .notRegistered div p{
  font-size: 15px;
  line-height: 1.4;
}
header{
  background-color: var(--main-color);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container a{
  color: white;
  padding: 10px;
  position: relative;
  transition: all 0.3s linear;
}
header .container a:hover{
  background-color: var(--main-color-alt);
}
header .container > a{
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}
header .container .listIcon{
  display: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width:767px){
  header .container .listIcon{
    display: block;
  }
  header .container nav{
    position: absolute;
    left: 50%;
    top: -1000%;
    transform: translate(-50%, 0);
    background-color:var(--main-color);
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: top 0.3s linear;    
  }
}
.intro{
  background-image: url("./photos/hotel.jpg");
  background-size: cover;
  background-position: bottom;
  height: calc(100vh - 53px);
  display: flex;
  align-items: center;
}
.intro .container{
  text-align: center;
  color: white;
}
.intro .container h1{
  max-width: 300px;
  margin: 0 auto 15px;
  line-height: 1.1;
}
.intro .container p{
  font-size: 18px;
  font-weight: bold;
}
.searchBar{
  transform: translate(0,-50%);
}
.searchBar .container{
  padding: 0;
}
.searchBar .container form{
  background-color: var(--main-color);
  display: flex;
  padding: 4px;
  border-radius: 8px;
}
@media (max-width:991px){
  .searchBar .container form{
    flex-direction: column;
  }
}
.searchBar .container form > div{
  flex: 1;
  background-color: white;
  padding: 10px;
  margin-right: 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
@media (max-width:991px){
  .searchBar .container form > div{
    margin: 3px;
  }
}
.searchBar .container form > div:first-of-type{
  cursor:auto;
}
.searchBar .container form div .persons{
  width: 100%;
}
.searchBar .container form div .persons span{
  margin-right: 5px;
}
.searchBar .container form div .icon{
  margin:0 10px;
  color: var(--main-color-alt);
  font-size: 18px;
}
.searchBar .container form > button{
  padding: 10px ;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  transition: all 0.2s linear;
}
.searchBar .container form > div:not(:last-of-type) button{
  flex: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
}
.searchBar .container form div button span{
  margin-right: 10px;
  font-size: 16px;
}
.searchBar .container form > button:hover{
  box-shadow: 0px 0px 2px 2px #333 inset;
}
@media (max-width:991px){
  .searchBar .container form > button{
    margin: 3px;
  }
}
.searchBar .container form input.place{
  border: none;
  border-bottom: 1px solid var(--main-color);
  padding: 3px;
  width: 70%;
}
.searchBar .container form input.place:focus{
  outline: none;
}
.ReserveBox, .calendarContainer{
  position: absolute;
  
  z-index: 100;
  background-color: white;
  padding: 15px;
  width:300px ;
  cursor: auto;
}
.ReserveBox{
  left: 0;
  top: 120%;
  width:300px ;
  border-radius: 15px;
  box-shadow: 0 2px 16px 0 rgba(26,26,26,0.24);
}
.calendarContainer{
  width: 80%;
  height: 100%;
  left: 35px;
  background-color: white;
  display: flex;
  align-items: center;
}
.calendarContainer input{
  flex: 1;
  width: 100px;
  margin-right: 5px;
  padding: 3px;
  border: 1px solid var(--main-color);
}
.calendarContainer input:focus{
  outline: none;
  box-shadow: 0 2px 16px 0 rgba(26,26,26,0.24);
}
.ReserveBox div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.ReserveBox div span{
  text-transform: capitalize;
}
.ReserveBox div div{
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 8px;
  width: 100px;
}
.ReserveBox div div button{
  background-color: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: var(--main-color);
}
.featuredDeals{
  padding-bottom: 50px;
}
.featuredDeals .container h2{
  margin-bottom: 30px;
}
.featuredDeals .container .deals{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 40px;
}
.deal{
  box-shadow: 0 0 15px rgb(0 0 0 / 22%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px ;
  position: relative;
}
.deal img{
  width: 100%;
  height: 220px;
  border-top-right-radius: 15px ;
  border-top-left-radius: 15px;
}
.deal .info{
  padding:0 15px 15px;
}
.deal .info h3{
  text-align: center;
}
.deal .info p:first-of-type{
  color: #bfbfbf;
  font-size: 14px;
  margin-bottom: 15px;
}
.deal .info p:last-of-type{
  font-size:14px ;
  min-height: 160px;
}
@media(max-width:991px){
  .deal .info p:last-of-type{
    min-height: 130px;
  }

}
.deal .info .star{
  font-size: 20px;
}
.deal .info .orginalPrice{
  text-decoration: line-through;
  text-decoration-color: black;
  left: 15px;
}
.deal .info .finalPrice{
  right: 15px;
}
.deal .info .orginalPrice,
.deal .info .finalPrice{
  position: absolute;
  background-color: var(--main-color);
  color: white;
  writing-mode: vertical-lr;
  top: 0;
  height: 70px;
  padding-top: 5px;
  font-weight: bold;
}
.deal .info .orginalPrice::after,
.deal .info .finalPrice::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border: 15px solid;
  border-color: transparent transparent white transparent;
}
.deal .info .rating{
  text-align: center;
}
.RecentlyVisited{
  padding: 0 0 100px;
}
.RecentlyVisited .hotels{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
  gap: 25px;
}
@media (max-width:991px){
  .RecentlyVisited .hotels{
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  }
}
.RecentlyVisited .hotels .hotel{
  position: relative;
  overflow: hidden;
}
.RecentlyVisited .hotels .hotel .img img{
  width: 100%;
  height: 400px;
}
@media (max-width:991px){
  .RecentlyVisited .hotels .hotel .img img{
    height: 330px;
  }
}
.RecentlyVisited .hotels .hotel .info{
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  padding: 5px 15px;
  height: 55%;
  color: white;
  transition: all 0.5s linear;
}
.RecentlyVisited .hotels .hotel:hover .info{
  bottom: 0;
}
.RecentlyVisited .hotels .hotel .info h3{
  text-align: center;
}
.RecentlyVisited .hotels .hotel .info div{
  margin-bottom: 3px;
}
.RecentlyVisited .hotels .hotel .info .icon{
  margin-right:5px;
}
.RecentlyVisited .hotels .hotel .info span:first-of-type{
  font-weight: bold;
  font-size: 17px;
}
.RecentlyVisited .hotels .hotel .info >div span:last-of-type{
  margin-left: 7px;
}
.RecentlyVisited .hotels .hotel .info .rating{
  display: inline;
  margin-left: 7px;
}




@keyframes loaderMotion {
  0%{
    transform:translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform:translate(-50%, -50%) rotate(360deg);
  }
}