:root{
  --main-color:#2196f3;
  --main-color-alt:#1787e0;
}
*{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Cairo', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left:15px ;
  padding-right:15px ;
}
@media (min-width:768px) {
  .container{
      width:750px;
  }    
}
@media (min-width:992px) {
  .container{
      width:970px;
  }
}
@media (min-width:1200px) {
  .container{
      width:1170px;
  }
}
.loginPage{
  background-image: url(./photos/pexels-oleksandr-p-1004584.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginPage::before{ /*Overlay*/
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:  rgb(0 0 0 / 20%);
  z-index: -1;
}
.loginPage .content{
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px 30px;
  backdrop-filter: blur(20px);
  position: relative; 
}
.loginPage .content .loader{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid black;
  border-bottom-color:transparent ;
  border-right-color:transparent ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loaderMotion 1s linear infinite ;
}
.loginPage .content h2{
  color: white;
  text-align: center;
  font-size: 30px;
}
.loginPage .content form div{
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px 13px;
  margin: 15px 0;
}
.loginPage .content form div input{
  background-color: transparent;
  border: none;
  color: white;
}
.loginPage .content form div .icon{
  color: white;
  margin-left: 8px;
}
.loginPage .content form div input:focus{
  outline: none;
}
.loginPage .content form div input::placeholder{
  color: white;
}
.loginPage .content form input[type="submit"]{
  width: 100%;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 13px;
  border: none;
  margin: 20px 0;
  position: relative;
}
.loginPage .notRegistered{
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
  -moz-backdrop-filter: blur(20px);
  -ms-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid #c40000;
  color: white;
  border-radius: 15px;
  max-width: 283px;
  padding: 10px 15px;
  margin-bottom: 30px;
  display: flex;
}
.loginPage .notRegistered .icon{
  font-size: 35px;
  margin-right: 15px;
  color: #c40000;
}
.loginPage .notRegistered div p{
  font-size: 15px;
  line-height: 1.4;
}
header{
  background-color: var(--main-color);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container a{
  color: white;
  padding: 10px;
  position: relative;
  transition: all 0.3s linear;
}
header .container a:hover{
  background-color: var(--main-color-alt);
}
header .container > a{
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}
header .container .listIcon{
  display: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width:767px){
  header .container .listIcon{
    display: block;
  }
  header .container nav{
    position: absolute;
    left: 50%;
    top: -1000%;
    transform: translate(-50%, 0);
    background-color:var(--main-color);
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: top 0.3s linear;    
  }
}

@keyframes loaderMotion {
  0%{
    transform:translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform:translate(-50%, -50%) rotate(360deg);
  }
}